<div  ng-controller="StudentController as studentCtrl">
    <h1>My Space</h1>

    <div class="logOutButton">
        <button type="button" ng-click="studentCtrl.logout()">Log out</button>
    </div>

    <h2>Hi {{studentCtrl.user.login}}!</h2>

    <ul>
        <div ng-hide="studentCtrl.user.vm.length">You don't have any vm :(</div>
        <li ng-repeat="vm in studentCtrl.user.vm" ng-show="studentCtrl.user.vm.length">
            <div>
                <span>{{vm.name}}</span>
                <button type="button" ng-show="vm.state.toLowerCase() === 'on'" ng-click="stopVM(vm)">stop</button>
                <button type="button" ng-show="vm.state.toLowerCase() === 'off'" ng-click="startVM(vm)">start</button>
                <span ng-show="vm.state === 'on'">IP address : {{vm.ipAdress}}</span>
            </div>
        </li>
        <div ng-show="{{studentCtrl.showMessage}}">{{message}}</div>
    </ul>
</div>