<!DOCTYPE html>
<h1>Student view</h1>
<h2>My space</h2>
<ul ng-controller="StudentController as studentCtrl">
    <li ng-repeat="vm in studentCtrl.userVMs" ng-show="studentCtrl.userVMs.length">
        <div>
            <span>{{vm.name}}</span>
            <button type="button" ng-show="vm.state === 'on'" ng-click="studentCtrl.stopVM(vm)">stop</button>
            <button type="button" ng-show="vm.state === 'off'" ng-click="studentCtrl.startVM(vm)">start</button>
            <span ng-show="vm.state === 'on'">IP address : {{vm.ipAddress}}</span>
        </div>
        <div> Description : {{vm.description}}</div>
    </li>
    <div ng-show="{{studentCtrl.showMessage}}">An error occured while doing operation on the vm</div>
    <button type="button" ng-click="studentCtrl.logout()">log out</button>
</ul>