<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="ProviderController">
    <h1>Provider view</h1>
    <ul class="nav-buttons">
        <li>
            <button type="button" ng-click="showManageServicesTab()">Manage services</button>
        </li>
        <li>
            <button type="button" ng-if="areServicesInitialized()" ng-click="showCreateAdminTab()">Create admin</button>
        </li>
    </ul>

    <div ng-if="isCreateAdminShown()">
        Please provide the admin login and password. 

        <form name="createAdminForm" ng-submit="createAdminForm.$valid && createAdminAccount()" novalidate>
            Login
            <input type="text" name="login" ng-model="admin.login" required />
            <br />
            Password
            <input type="password" name="password" ng-model="admin.password" required />
            <br />
            <input type="submit" value="Create" />
        </form>

        <div ng-if="isMessageShown()">The admin account has been created.</div>
    </div>

    <div ng-if="isManageServicesShown()">
        Please select the services you want to offer. <br />

        <form name="servicesForm" ng-submit="servicesForm.$valid && saveServices()" novalidate>
        <input type="checkbox" ng-model="services.networkSelected" /> Network (private subnets) <br />
        
        <input type="checkbox" ng-model="services.autoTemplates.selected" ng-change="autoTemplatesChoiceChanged()" /> Auto templates <br />
        <div ng-if="areAutoTemplatesShown()">
            Please enter the name of your templates. <br />
            <div ng-repeat="template in services.autoTemplates.templates">
                Name <input type="text" ng-model="templateName.name" required /> 
                <br />
            </div>
            <button type="button" ng-click="addAutoTemplate()">New template</button>
        </div>
        
        <input type="checkbox" ng-model="services.manualTemplatesSelected" ng-change="manualTemplatesChoiceChanged()" /> Manual templates <br />
        <ul class="manual-template-list" ng-if="areManualTemplatesShown()">
            <li><input type="checkbox" ng-model="services.ram.selected" /> RAM 
                <div ng-if="isRAMShown()">
                    Min <input type="text" ng-model="services.ram.min" required />
                    <br />
                    Max <input type="text" ng-model="services.ram.max" required />
                </div>
            </li>
            <li><input type="checkbox" ng-model="services.hdd.selected" /> HDD 
                <div ng-if="isHDDShown()">
                    Min <input type="text" ng-model="services.hdd.min" required />
                    <br />
                    Max <input type="text" ng-model="services.hdd.max" required />
                </div>
            </li>
            <li><input type="checkbox" ng-model="services.os.selected" /> OS 
                <div id="osTemplatesList" ng-if="isOSShown()">
                    Please enter the name of OS templates. <br />
                    <div ng-repeat="template in services.os.templates">
                        Name <input type="text" ng-model="template.name" required /> 
                        <br />
                    </div>
                    <button type="button" ng-click="addOSTemplate()">New template</button>
                </div>
            </li>
            <li><input type="checkbox" ng-model="services.swap.selected" /> Swap 
                <div ng-if="isSWAPShown()">
                    Min <input type="text" ng-model="services.swap.min" required />
                    <br />
                    Max <input type="text" ng-model="services.swap.max" required />
                </div>
            </li>
            <li><input type="checkbox" ng-model="services.cpus.selected" /> CPU 
                <div ng-if="isCPUsShown()">
                    Min <input type="text" ng-model="services.cpus.min" required />
                    <br />
                    Max <input type="text" ng-model="services.cpus.max" required />
                </div>
            </li>
            <li><input type="checkbox" ng-model="services.ipAddress.selected" /> IP address 
            </li>
            <li><input type="checkbox" ng-model="services.authentication.selected" /> Authentication 
            </li>
        </ul>               

        <input type="submit" value="Save" />
        </form>
    
        <div ng-id="isMessageShown()">{{message}}</div>
    </div>
    <button type="button" ng-click="logout()">log out</button>
</div>
