<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="AdminController">
    <h1>Admin view</h1>

    <ul class="nav-buttons">
        <li>
            <button type="button" ng-click="showVMsTab()">Virtual Machines</button>
        </li>
        <li>
            <button type="button" ng-click="showCreateUserTab()">Create a user</button>
        </li>
    </ul>

    <div ng-if="areVMsShown()">
        List of VMs
        <li ng-repeat="vm in userVMs" ng-show="userVMs.length">
            <div>
                <span>{{vm.name}}</span>
                <button type="button" ng-show="vm.state === 'on'" ng-click="stopVM(vm)">stop</button>
                <button type="button" ng-show="vm.state === 'off'" ng-click="startVM(vm)">start</button>
                <span ng-show="vm.state === 'on'">IP address : {{vm.ipAddress}}</span>
            </div>
            <div> Description : {{vm.description}}</div>
        </li>
    </div>

    <div ng-if="isCreateUserShown()">
        <form name="createUserForm" ng-submit="createUserForm.$valid && createUserAccount()">
            Select a type
            <select ng-model="select.selectedType" ng-options="type.name for type in userTypes" required>
            </select>
            <br/>
            Login
            <input type="text" ng-model="user.login" required />
            <br />
            Password
            <input type="password" ng-model="user.password" required />
            <br />
            <input type="submit" value="Create" />
        </form>
        
        <div ng-if="isMessageMShown()">The user account has been created.</div>
    </div>
</div>