<!DOCTYPE html>
<div ng-controller="BackendController as backendCtrl">
    <h1>Welcome to the backend</h1>
    <form name="loginForm" ng-submit="loginForm.$valid && backendCtrl.logIn()" novalidate>
        <fieldset>
            <label>Login</label><br/>
            <input type="text" ng-model="backendCtrl.login" size="20" required/>
        </fieldset>
        <fieldset>
            <label>Password</label><br/>
            <input type="password" ng-model="backendCtrl.password" size="20" required/>
        </fieldset>
        <fieldset>
            <input type="submit" name="Sign in" value="Sign in"/>
        </fieldset>
    </form>
    <div id="logAlert"></div>
    <!-- to have validation css use class .ng-invalid.ng-dirty border-color to red and .ng-valid.ng-dirty border-color to green -->
</div>
