<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="ProfessorController">
    <h1>Professor view</h1>

    <ul class="nav-buttons">
        <li>
            <button type="button" ng-click="showVMsTab()">Virtual Machines</button>
        </li>
        <li>
            <button type="button" ng-if="isAutoTemplatesServiceOffered()" ng-click="showTemplatesTab()">Templates</button>
        </li>
    </ul>

    <div ng-if="areVMsShown()">
        <div ng-hide="isCreateVMPageShown()">
            Here is the list of your virtual machines <br/>
            <li ng-repeat="vm in userVMs" ng-show="userVMs.length">
                <div>
                    <span>{{vm.name}}</span>
                    <button type="button" ng-show="vm.state === 'on'" ng-click="stopVM(vm)">stop</button>
                    <button type="button" ng-show="vm.state === 'off'" ng-click="startVM(vm)">start</button>
                    <span ng-show="vm.state === 'on'">IP address : {{vm.ipAddress}}</span>
                </div>
                <div> Description : {{vm.description}}</div>
            </li>
            <button type="button" ng-click="initVM()">Create a new virtual machine</button>
        </div>

        <div ng-show="isCreateVMPageShown()">
            Create a virtual machine with the following parameters. <br />

            <form name="createVMForm" ng-submit="createVMForm.$valid && createVM()">
                <div ng-if="isNetworkServiceOffered()">
                    <input type="checkbox" ng-model="toDisplay.groupOfVMs" /> Create a group of virtual machines 
                    <br />
                    <div ng-if="isGroupOfVMsShown()">
                        Number of virtual machines
                        <input type="number" min="1" ng-model="vm.numberOfVMs" required/> 
                        <br />
                    </div>
                </div>

                Name 
                <input type="text" ng-model="vm.name" required /> 
                <br />
                Description
                <textarea ng-model="vm.description"></textarea> 
                <br />

                <div ng-if="isAutoTemplatesServiceOffered()">
                    Template
                    <select ng-model="vm.template" required>
                        <option ng-repeat="template in availableTemplates" value="{{template}}">{{template}}</option>
                    </select> 
                    <br />
                </div>

                <div ng-if="isManualTemplatesServiceOffered()">
                    <div ng-if="isRAMShown()">
                        RAM
                        <input type="number" ng-model="vm.ram" required/> 
                        <br />
                    </div>

                    <div ng-if="isHDDShown()">
                        HDD
                        <input type="number" ng-model="vm.hdd" required/> 
                        <br />
                    </div>

                    <div ng-if="isOSShown()">
                        OS
                        <select ng-model="vm.os" required>
                            <option ng-repeat="template in osTemplates" value="{{template}}">{{template}}</option>
                        </select> 
                        <br />
                    </div>

                    <div ng-if="isSWAPShown()">
                        SWAP
                        <input type="number" ng-model="vm.swap" required/> 
                        <br />
                    </div>

                    <div ng-if="isCPUsShown()">
                        CPUs
                        <input type="number" ng-model="vm.cpus" required/> 
                        <br />
                    </div>

                    <div ng-if="isIPAddressShown()">
                        IP Address
                        <input type="text" ng-model="vm.ipAddress" required/> 
                        <br />
                    </div>

                    <div ng-if="isAuthenticationShown()">
                        Password
                        <input type="password" ng-model="vm.password" required/> 
                        <br />
                    </div>
                </div>

                <input type="submit" value="Create" />
            </form>
        </div>
    </div>

    <div ng-if="areTemplatesShown()">
        Here is the list of available templates. <br/>

        <ul>
            <li ng-repeat="template in availableTemplates">{{template}}</li>
        </ul>
    </div>
</div>
